Client/Client/Connected Services/ReminderReference/Reminder.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReminderService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReminderService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReminderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReminderDetail" nillable="true" type="tns:ReminderDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReminderDetail" nillable="true" type="tns:ArrayOfReminderDetail" />
  <xs:complexType name="ReminderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReminderDetail" nillable="true" type="tns:ReminderDetail" />
</xs:schema>